body {
background-color: #000000;
}

img {
position: absolute;
left: 340px;
top: -100px;
height: 600px;
}

#nav_bar {
position: relative;
margin-right: auto;
top: 400px;
}

.td_style {
color: yellow;
padding-left: 186px;
font-size: 24px;
}

