body {
background-color: #000000;
}

#logo {
position: absolute;
left: 340px;
top: -100px;
height: 600px;
}

#nav_bar {
position: relative;
margin-right: auto;
margin-left: auto;
top: 400px;
border: 3px solid rgb(107, 103, 107);
border-radius: 05px;
background-color: rgb(61, 59, 61);
}

.td_style, a {
color: rgb(239, 239, 233);
font-size: 24px;
padding-left: 30px;
padding-right: 60px;
text-decoration: none;
}

#line {
height:1px;
background-color: white;
border-bottom:1px solid white;
}

#cover-photo {
position: relative;
top: 398px;
left: 350px;
}

a:hover {
color:#ffd300;
}

#clicked {
color: rgb(63, 4, 65);
}
